@define-color color0                #181818;
@define-color color1                #D7B650;
@define-color color2                #496519;
@define-color color3                #BCBF30;

@define-color color4                #FFD700;
@define-color color5                #348B4A;
@define-color color6                #678C61;
@define-color color7                #6D683C;

@define-color color8                #404040;
@define-color color9                #816C00;
@define-color color10               #305636;
@define-color color11               #FFD770;

@define-color color12               #4692EA;
@define-color color13               #644A7F;
@define-color color14               #81AD8E;
@define-color color15               #CEB874;

@define-color cursor                #404040;
@define-color background            #161616;
@define-color foreground            #F1EFF0;
@define-color selection_background  #292929;
@define-color selection_foreground  #404040;

* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, Iosevka Term;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: @foreground;
}

tooltip {
    background: @background;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @background;
}

#workspaces,
#window,
#clock,
#custom-weather,
#custom-updates,
#cpu,
#memory,
#disk,
#battery,
#network,
#bluetooth,
#idle_inhibitor,
#backlight,
#pulseaudio,
#tray {
    background: @background;
    padding: 3px 10px;
    margin: 3px 0px;
}

#workspaces {
    border-radius: 10px;
}

#workspaces > * {
    margin: 0px 5px;
}

#workspaces button {
    color: @foreground;
    background: @background;
    border-radius: 10px;
}

#workspaces button.active {
    color: @foreground;
    background: @color10;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @foreground;
    background: @color4;
    border-radius: 10px;
}

#workspaces button:hover {
    color: @foreground;
    background: @color3;
    border-radius: 10px;
}

#window{
    color: @foreground;
    border-radius: 10px;
    margin-left: 10px;
}

#clock {
    color: @color4;
    border-radius: 10px;
}

#custom-weather {
    color: @foreground;
    border-radius: 10px;
    margin-left: 10px;
}

#custom-updates {
    color: @color1;
    margin-left: 10px;
    border-radius: 10px 0px 0px 10px;
}

#cpu {
    color: @color3;
}

#memory {
    color: @color4;
}

#disk {
    color: @color5;
}

#battery {
    color: @color14;
}

#network {
    color: @color15;
}

#bluetooth {
    color: @color12;
}

#idle_inhibitor {
    color: @color13;
}

#backlight {
    color: @foreground;
}

#pulseaudio {
    color: @color11;
    border-radius: 0px 10px 10px 0px;
}

#tray {
    border-radius: 10px;
    margin-left: 10px;
}
